html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Graphik';
    src: url(GraphikExtralight.otf);
}

@font-face {
    font-family: 'Graphik Italic';
    src: url(GraphikExtralightItalic.otf);
}

body{
    background-color: #eef5fd;
    width: 35%;
    top: 50%;
    left: 67%;
    margin:0%;
    position:absolute;
    transform:translate(-67%,-50%);
    font-size: 28px;
    font-family: 'Graphik', Arial, Helvetica, sans-serif;
    color:#2964c4;
}

div{
    background-color: #f7fafe;
    border-radius: 24px;
    margin: 16px 0 36px;
    padding: 10px 24px;
    width:327px;
    min-width:330px;
    position:relative;
    font-family: 'Graphik'Arial, Helvetica, sans-serif;
    box-shadow: 0 0 0 1px #0000000d, 0 1px 4px #0000001a;
}

img{
    position:fixed;
    left:-300px;
    top:40px;
    border-radius:5%;
    box-shadow: 5px 5px #98bbe5;
}

a.urls:link{
    color:#2964c4;
    text-decoration: none;
}

a.urls:hover{
    color:#2964c4;
    text-decoration: none;
    font-family: 'Graphik Italic', Arial, Helvetica, sans-serif;
}

a.urls:visited{
    color:#2964c4;
    text-decoration: none;
}
